@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.P-Container{
    /* max-width: 70vw;  */
    width: calc(100% - 400px); 
    background-color: #f1f2f4;
    height: auto;
    margin: 0 0 0 400px;
    position: relative;
    display: grid;
    place-content: center;
    
}
.P-Container .Progress{
    width: 50vw;
    padding: 30px;
    background-color: #f1f2f4;
    margin: 0 auto;
    position: fixed;

    
}

.P-Container .Form-det-container{
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;  
    
}
.P-Container .section{
    font-family: 'Nunito', sans-serif;
}
.P-Container label{
    font-family: 'Nunito', sans-serif;
}
.P-Container input, select{
    outline: none;
    border-radius: 7px;
    height: 35px;
    background-color: transparent;

}
.P-Container .input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

/* 
.Form-det-container{
    margin-top: 100px;
    display: grid;
    place-content: center;
    
}

.Form-Footer{
    display: flex;
    justify-content: space-between;

}

.Form-Footer button{
    background-color: #03A89E;
    font-size: 1rem;
    color: White;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    border: 2px solid white;
    outline: none;
    margin-top: 20px;
}

.Form-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form-Section{
    color: #03A89E;
    font-size: 2rem;
    align-items: center;
} */
